<div class="well well-header well-listing" >
  <div class="table-responsive">
      <table table class="table">
      <tr>
      <td>Best for</td>
      <td>Test text</td>
      </tr>
      <tr>
      <td>Pricing</td>
      <td><%= @pin.pricing %></td>
      </tr>
      <tr>
      <td>English / portuguese</td>
      <td>Test text</td>
      </tr>
      <tr>
      <td>User reviews</td>
      <td><%= @pin.user_review_summary %></td>
      </tr>
      <tr>
      <td>Support coverage</td>
      <td>Test text</td>
      </tr>
      <tr>
      <td>Size of company</td>
      <td>Test text</td>
      </tr>
      <tr>
      <td>Compare with others</td>
      <td>Test text</td>
      </tr>
      </table>
  </div>
</div>
