<%= render 'pages/home' %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<div class="jumbotron">
  <div class="container">

<h2>Encontre seu software em apenas 3 passos:<br></h2>
<div class="alert alert-success"><font size="4">  1. Escolha sua categoria</font><br></div>
<div class="alert alert-info"><font size="4">  2. Fale com nossos consultores</font><br></div>
<div class="alert alert-warning"><font size="4">  3. Escolha a melhor opção gratuitamente</font><br></div>
            
<font size="4">
  <br>
    Nós ajudamos organizações a encontrar a ferramenta de CRM ou ERP  que melhor atende  suas necessidades. Nosso time possui amplo conhecimento e experiência no mercado de Software e está disposto a ajudá-lo gratuitamente.
             
    Por que é gratuito? Nós somos pagos quando fazemos um bom "match" entre sua organização e a empresa provedora de software.
</font>
<div container class="center">
<%= link_to "Ache gratuita agora", new_customer_path, class: "btn btn-primary btn-lg"%>
</div>  
  </div>
</div>
