<%= render 'pages/home' %>

<br>
<br>
<br>
<br>
<br>
<br>


<div class="container center"><h2>Nossos consultores podem ajudá-lo a descobrir qual o software que você precisa, gratuitamente!</h2></div>



<div class="jumbotron">
 
		<font size="4">
		    Nós ajudamos organizações a encontrar a ferramenta de CRM ou ERP  que melhor atende  suas necessidades. Nosso time possui amplo conhecimento e experiência no mercado de Software e está disposto a ajudá-lo gratuitamente.
		             
		    Por que é gratuito? Nós somos pagos quando fazemos um bom "match" entre sua organização e a empresa provedora de software.
		</font>

	
</div>


