<div class="col-lg-8 col-lg-offset-2">
  <div class="jumbotron">
    <h2>What functions do you need in this software?</h2>
     

    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
     <h3>Contact tracking and management</h3>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
     <h3>Sales results / analysis</h3>

      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
     <h3>Opportunity management</h3>

      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
     <h3>Customized forecasting & reporting</h3>
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
    <h3>Other</h3>
      </label>
    </div>

    Any other comments?
    <textarea class="form-control" rows="3"></textarea>


    <%= link_to "Get free quotes", q3_path, class: "btn btn-primary btn-lg"%>
</div>
</div>