
    <h2>Quantos funcionários tem na sua empresa?</h2>


    <div class="checkbox">
      <%= check_box(:customer, :employees,{},"<10","not checked") %>
      <h3><%= label_tag("<10") %></h3>
   
    </div>

    <div class="checkbox">
      <%= check_box(:customer, :employees2,{},"10-30","not checked") %>
      <h3><%= label_tag("10-30") %></h3>
   
    </div>

    <div class="checkbox">
      <%= check_box(:customer, :employees3,{},"30+","not checked") %>
      <h3><%= label_tag("30+") %></h3>
   
    </div>

<br>

    <div class="form-group">
      <h2> Qual o setor ou área de atuação da sua empresa?</h2>
      <%= f.text_field :function, class: "form-control", placeholder: "Industry" %>
    </div>

