<div class="jumbotron center">
<h1>Economize tempo, dinheiro e faça a escolha certa para o seu negócio</h1>

<h4>Nossos consultores podem ajudá-lo a descobrir qual o software que você precisa, gratuitamente!</h4>
<%= link_to "Ache gratuita agora", new_customer_path, class: "btn btn-primary btn-lg"%>



</div>


