<div class="jumbotron center">
<h1>Save time, money & your sanity</h1>

<!--
<%= form_tag pins_path, method: "get" do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag("Search") %>
<% end %>
-->

</div>