<div class="jumbotron center">
<h1>Economize tempo, dinheiro e faça a escolha certa para o seu negócio</h1>

<br>
<h2>Encontre o software certo para a sua empresa em apenas 3 passos:<br></h2>

	
	<div style="float: left; width: 320px; height: 120px"; class="alert alert-success"><font size="4.5">  1. Responda algumas perguntas simples </font><br></div>
		<div style="float: left; width: 30px; height: 120px">    <br></div>

	<div style="float: left; width: 320px; height: 120px"; class="alert alert-success"><font size="4.5">  2. Compare as soluções disponíveis no mercado  </font><br></div>
		<div style="float: left; width: 30px; height: 120px"><br></div>
	<div style="float: left; width: 320px; height: 120px"; class="alert alert-success"><font size="4.5">  3. Ajuda gratuita de nossos consultores </font><br></div>

<br>
<br>

<br>


<br>

<%= link_to "Começe agora", new_customer_path, class: "btn btn-primary btn-lg btn-block"%>


</div>


