<h1>About us</h1>
<p>We are working on our one month rails app from the tutorial </p>

<%= link_to 'Add release', new_release_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>

<div id="modal-window" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>

</div>